[submodule "Indy10Demos"]
	path = Indy10Demos
	url = https://github.com/Andry-Smirnov/Indy10Demos.git
[submodule "PasSimpleSockets"]
	path = PasSimpleSockets
	url = https://github.com/Warfley/PasSimpleSockets.git
[submodule "Artemis"]
	path = Artemis
	url = https://github.com/Andry-Smirnov/Artemis.git
[submodule "iLbc"]
	path = iLbc
	url = https://github.com/Andry-Smirnov/iLbc.git
[submodule "dataset-serialize"]
	path = dataset-serialize
	url = https://github.com/Andry-Smirnov/dataset-serialize.git
[submodule "generics.collections"]
	path = generics.collections
	url = https://github.com/Andry-Smirnov/generics.collections.git
[submodule "tsmbios"]
	path = tsmbios
	url = https://github.com/RRUZ/tsmbios.git
[submodule "FPC_light_containers"]
	path = FPC_light_containers
	url = https://github.com/Alexey-T/FPC_light_containers.git
[submodule "PascalContainer"]
	path = PascalContainer
	url = https://github.com/terrylao/PascalContainer.git
[submodule "libpasc-algorithms"]
	path = libpasc-algorithms
	url = https://github.com/Andry-Smirnov/libpasc-algorithms.git
[submodule "LazarusPackageManager"]
	path = LazarusPackageManager
	url = https://github.com/Warfley/LazarusPackageManager.git
[submodule "PascalSmartPointers"]
	path = PascalSmartPointers
	url = https://github.com/maciej-izak/PascalSmartPointers.git
