[submodule "Indy10Demos"]
	path = Indy10Demos
	url = https://github.com/Andry-Smirnov/Indy10Demos.git
[submodule "PasSimpleSockets"]
	path = PasSimpleSockets
	url = https://github.com/Warfley/PasSimpleSockets.git
[submodule "Artemis"]
	path = Artemis
	url = https://github.com/Andry-Smirnov/Artemis.git
[submodule "iLbc"]
	path = iLbc
	url = https://github.com/Andry-Smirnov/iLbc.git
[submodule "dataset-serialize"]
	path = dataset-serialize
	url = https://github.com/Andry-Smirnov/dataset-serialize.git
[submodule "generics.collections"]
	path = generics.collections
	url = https://github.com/Andry-Smirnov/generics.collections.git
